<main class="profile-page">
  {{> back-to}}
  <div class="profile-page__content profile">
    <div class="profile__top">
      <button class="js-avatar-open-form">
        <img
          title="Сменить аватар"
          class="avatar avatar--lg"
          src="{{ avatar }}"
          alt="Аватар {{ name }}"
        />
      </button>
      <h2 class="profile__name">{{ name }}</h2>
    </div>

    <ul class="profile__list">
      {{#each fields}}
      <li class="profile__row">
        <span class="profile__label">{{ label }}</span>
        <span class="profile__value">{{ value }}</span>
      </li>
      {{/each}}
    </ul>

    <ul class="profile__list profile__list--actions">
      <li class="profile__row">
        <a class="button--link" href="/settings/edit">Изменить данные</a>
      </li>
      <li class="profile__row">
        <a class="button--link" href="/settings/password">Изменить пароль</a>
      </li>
      <li class="profile__row">
        <a href="/" class="text-red">Выйти</a>
      </li>
    </ul>
  </div>
  {{> avatar-form}}
</main>
