<div class="chat-app__back-to-wrapper">
  {{> back-to}}
  <div class="chat-app__profile profile">
    <div class="profile__top">
      <img class="avatar avatar--lg" src="{{ avatar }}" alt="Аватар {{ name }}" />
      <h2 class="profile__name">{{ name }}</h2>
    </div>
    <ul class="profile__list">
      {{#each fields}}
      <li class="profile__row">
        <span class="profile__label">{{ label }}</span>
        <span class="profile__value">{{ value }}</span>
      </li>
      {{/each}}
    </ul>
    <ul class="profile__list profile__list--actions">
      <li class="profile__row">
        <button class="button--link">Изменить данные</button>
      </li>
      <li class="profile__row">
        <button class="button--link">Изменить пароль</button>
      </li>
      <li class="profile__row">
        <button class="button--link button--red">Выйти</button>
      </li>
    </ul>
  </div>
</div>
